
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by creator of <a style="color:white;text-decoration:none;" href="https://www.digitaleditz.xyz" target="_blank">DigitalEditz</a></p>
  </div>
</div>
</body>
</html>
