<%-include("partials/header")-%>
<style>
    .cont p{
        word-break: break-all;
    white-space: normal;
    }
</style>
<h1><%=inputtitle%></h1>
<div class="cont">
    <p><%=inputcontent%></p>
</div>
<%-include("partials/footer")-%>